<div class="cell input_outer">
	<label class="label">Всего видео</label>

	<span class="val">44</span>
</div>	

<div class="cell input_outer">
	<label class="label">Всего пользователей</label>

	<span class="val">44</span>
</div>

<div class="cell input_outer">
	<label class="label">Всего комментариев</label>

	<span class="val">44</span>
</div>

<div class="cell input_outer">
	<label class="label">Всего просмотров</label>

	<span class="val">44</span>
</div>

<div class="cell input_outer">
	<label class="label">Всего тегов</label>

	<span class="val">44</span>
</div>	

<div class="cell input_outer">
	<label class="label">Всего лайков</label>

	<span class="val">44</span>
</div>										
