<div class="cell input_outer">
	<label class="label">Всего видео</label>

	<span class="val">{{ only_videos }}</span>
</div>	

<div class="cell input_outer">
	<label class="label">Всего пользователей</label>

	<span class="val">{{ only_users }}</span>
</div>

<div class="cell input_outer">
	<label class="label">Всего комментариев</label>

	<span class="val">{{ only_comments }}</span>
</div>

<div class="cell input_outer">
	<label class="label">Всего просмотров</label>

	<span class="val">{{ only_views.views__sum }}</span>
</div>

<div class="cell input_outer">
	<label class="label">Всего тегов</label>

	<span class="val">{{ only_tags }}</span>
</div>	

<div class="cell input_outer">
	<label class="label">Всего лайков</label>

	<span class="val">{{ only_likes.likes__sum }}</span>
</div>										
