<!-- auth modal -->
<div class="modal fade" id="authModal" tabindex="-1" role="dialog" aria-labelledby="authModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <section class="modal-content">
        	<form class="common_form" action="" id="authForm" method="post" novalidate>
	            <div class="modal-header">
	                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
	                
	                <h4 class="modal-title" id="authModalLabel">Авторизация</h4>
	            </div>

	            <div class="modal-body">
					{% csrf_token %}	
					
					<div class="cell input_outer">
						<label class="label">{{ auth_form.username.label }}</label>
						
						{{ auth_form.username }}
						
						{{ auth_form.username.errors }}
					</div>										

					<div class="cell input_outer">
						<label class="label">{{ auth_form.password.label }}</label>
						
						{{ auth_form.password }}
						
						{{ auth_form.password.errors }}
					</div>									
	            </div>

	            <div class="modal-footer">
	                <button type="button" class="btn btn-default btn-sm but_cancel" data-dismiss="modal">Отменить</button>

					<input class="btn btn-primary btn-sm but_auth" id="authSubmit" type="submit" value="Авторизоваться">
	            </div>
            </form>
        </section>
    </div>
</div>  




