<div class="panelka guest_panel clearfix {{ guest_panel_class }}">
	<button class="btn btn-primary btn-sm" id="authButton">Войти</button>

    <button class="btn btn-primary btn-sm" id="regButton">Зарегистрироваться</button>
</div>

<div class="panelka user_panel clearfix {{ user_panel_class }}">
    <span class="username_mark" id="userNameMark">
        <span class="username_mark_inner">{{ user }}</span>

        <div class="list-group user_menu" id="userMenu">
            <a href="#" class="list-group-item">Аккаунт</a>

            <a href="#" class="link list-group-item">Мои видео</a>

            <a href="#" class="link list-group-item">Добавить видео</a>
        </div>                       
    </span>

    <button class="btn btn-primary btn-sm" id="logoutButton">Выйти</button>
</div> 
