<div class="panelka guest_panel clearfix {{ guest_panel_class }}" id="guestPanel">
	<button class="btn btn-primary btn-sm" id="authButton">Войти</button>

    <button class="btn btn-primary btn-sm" id="regButton">Зарегистрироваться</button>
</div>

<div class="panelka user_panel clearfix {{ user_panel_class }}" id="userPanel">
    <span class="username_mark" id="userNameMark">
        <span class="username_mark_inner">{{ user }}</span>

        <div class="list-group user_menu" id="userMenu">
            <a href="/admin/kinopom/entry/add/" class="list-group-item">Добавить видео</a>

            <a href="/admin/kinopom/entry/" class="link list-group-item">Мои видео</a>

            <a href="/admin/password_change/" class="link list-group-item">Сменить пароль</a>

            <a href="{% url 'email_change' %}" class="link list-group-item">Сменить email</a>
        </div>                       
    </span>

    <button class="btn btn-primary btn-sm" id="logoutButton">Выйти</button>
</div> 
