{% extends "base.html" %}
{% load staticfiles %}
{% load tags_video %}

{% block title %}Результаты поиска{% endblock title %}

{% block content %}
	<section class="section search_results">
		<h3 class="h3">Результаты поиска по фразе "{{ phrase }}":</h3>
		
		<div class="row">
			<div class="col-xs-10">
				{% if search_result_full_paginated %}
					{% for entry in search_result_full_paginated %}
						<article class="article result_unit">
							<a class="link_to_details" href="{% url 'video_detail' entry.id %}">
								<div class="left">
									<iframe allowfullscreen="" src="//www.youtube.com/embed/{{ entry }}/?controls=0&showinfo=0&rel=0&modestbranding=0" frameborder="0" ></iframe>
								</div>

								<div class="right">
									<h4 class="h4">{{ entry.title|truncatechars:97 }}</h4>

									<div class="video_meta">
										<div class="meta author">Автор: {{ entry.user.username }}</div>

										<div class="meta date_create">Дата размещения: {{ entry.date }}</div>

										<div class="meta date_edit">Дата редактирования: {{ entry.last_edit_date }}</div>

										<div class="meta date_edit">Теги: 
											{% for tag in entry.tags.all %}
												<span class="link">{{ tag }}</span>{% if not forloop.last %}, {% endif %}
											{% endfor %}
										</div>

										<div class="info">
											<span class="info views"><span class="views_sign glyphicon glyphicon-eye-open"></span> {{ entry.views }}</span>

											<span><span class="likes_sign glyphicon glyphicon-thumbs-up"></span>{{ entry.likes }}</span>
										</div>
									</div>
								</div>
							</a>		
						</article>						
					{% endfor %}

					{% if last_page > 1 %}
						<div class="pager_outer">	
							<div class="pager">	
								{% if search_result_full_paginated.has_previous %}
									<button type="button" class="btn btn-default">
										<a class="a left2 glyphicon glyphicon-fast-backward" href="?page={{ first_page }}&phrase={{ phrase }}"></a>
									</button>								

									<button type="button" class="btn btn-default">
										<a class="a left glyphicon glyphicon-backward" href="?page={{ search_result_full_paginated.previous_page_number }}&phrase={{ phrase }}"></a>
									</button>								
								{% endif %}
								
								<span>
									{% for page in list_pages  %}
										<div class="btn-group">
											{% if search_result_full_paginated.number == page %}
												<button type="button" class="btn btn-default">
													<span class="a glyphicon">{{ page }}</span>
												</button>
											{% else %}
												<button type="button" class="btn btn-default">
													<a class="a num glyphicon" href="?page={{ page }}&phrase={{ phrase }}">{{ page }}</a>
												</button>							
											{% endif %}
										</div>
									{% endfor %}		
								</span>
								
								{% if search_result_full_paginated.has_next %}
									<button type="button" class="btn btn-default">
										<a class="a right glyphicon glyphicon-forward" href="?page={{ search_result_full_paginated.next_page_number }}&phrase={{ phrase }}"></a>
									</button>		

									<button type="button" class="btn btn-default">
										<a class="a right2 glyphicon glyphicon-fast-forward" href="?page={{ last_page }}&phrase={{ phrase }}"></a>
									</button>														
								{% endif %}
							</div>				
						</div>	
					{% endif %}						
				{% else %}
					<p>Нет результатов</p>
				{% endif %}				
			</div>

			<div class="col-xs-2">
				lll
			</div>			
		</div>


	</section>
	
{% endblock content %}
