<div class="jcarousel_outer jcarousel-wrapper">
	<div class="jcarousel">
		<ul class="">
			{% for entry in entries %}
				<li class="item">
					<a class="link_to_details" href="{% url 'video_detail' entry.id %}">
						<article class="article">
							<iframe allowfullscreen="" src="//www.youtube.com/embed/{{ entry }}/?controls=0&showinfo=0&rel=0&modestbranding=0" frameborder="0" ></iframe>

							<h4 class="h4">{{ entry.title|truncatechars:97 }}</h4>
						</article >
					</a>
				</li>
			{% endfor %}           
		</ul>
	</div>

    <a href="#" class="jcarousel-control-prev navig">&lsaquo;</a>

    <a href="#" class="jcarousel-control-next navig">&rsaquo;</a>
</div>


