{% extends "base.html" %}
{% load staticfiles %}

{% block title %}{{ video_obj.title }}{% endblock title %}

{% block content %}
	<section class="section video_detail">
		<h3 class="h3 hide">{{ video_obj.title }}</h3>

		<div class="fullwidth">
			<article class="article col-xs-12">
				<iframe allowfullscreen="" src="//www.youtube.com/embed/{{ video_obj }}/?showinfo=0" frameborder="0" width="100%" height="460"></iframe>
				
				<div class="video_info_top row">
					<h4 class="h4 col-xs-10">{{ video_obj.title }}</h4>

					<div class="signs col-xs-2">
						<div class="info views"><span class="views_sign glyphicon glyphicon-eye-open"></span> {{ video_obj.views }}</div>

						<div class="info likes" id="likeButton" data-video-id="{{ video_obj.id }}">
							<form action="" method="POST" id="likeForm">
								{% csrf_token %}

								<span class="likes_sign glyphicon glyphicon-thumbs-up"></span>

								<span id="likesVal">{{ video_obj.likes }}</span>
							</form>
						</div>
					</div>
				</div>

				<div class="video_info_mid row">
					<div class="dates col-xs-6">
						<div class="date author">Автор: {{ video_obj.user.username }}</div>

						<div class="date date_create">Дата размещения: {{ video_obj.date }}</div>

						<div class="date date_edit">Дата редактирования: {{ video_obj.last_edit_date }}</div>

						<div class="date date_edit">Теги: 
							{% for tag in video_obj.tags.all %}
								<span class="link">{{ tag }}</span>{% if not forloop.last %}, {% endif %}
							{% endfor %}
						</div>
					</div>

					<div class="share col-xs-6">
						<span class="btn btn-success btn-sm share_button " id="shareButton"><span class="glyphicon glyphicon-link"></span>Поделиться</span>
					</div>					
				</div>

				<div class="video_info_hide" id="panel">
					<ul class="nav nav-tabs" role="tablist">
						<li role="presentation" class="active"><a href="#link" role="tab" data-toggle="tab">Ссылка</a></li>

						<li role="presentation"><a href="#code" role="tab" data-toggle="tab">HTML-код</a></li>

						<li role="presentation"><a href="#social" role="tab" data-toggle="tab">Социальные сервисы</a></li>
					</ul>

					<!-- Tab panes -->
					<div class="tab-content">
						<div role="tabpanel" class="tab-pane active" id="link">
							<input class="link_share" type="text" value="http://www.youtube.com/watch?v={{ video_obj }}" />
						</div>

						<div role="tabpanel" class="tab-pane" id="code">
							<input class="link_share_html" type="text" value='<iframe width="420" height="315" src="//www.youtube.com/embed/{{ video_obj }}" frameborder="0" allowfullscreen></iframe>' />
						</div>

						<div role="tabpanel" class="tab-pane" id="social">..42423424.</div>
					</div>
				</div>

				<div class="description">{{ video_obj.description|safe }}</div>
			</article >
		</div>

		<div class="">
			<section class="col-xs-9 comments_block">
				<h4 class="h4">Добавить комментарий:</h4>

	        	<form class="comment_form common_form" action="{% url 'ajax_comment_add' %}" id="commentForm" method="POST" novalidate>
						{% csrf_token %}	

						{% if not request.user.is_authenticated %}
							<div class="cell input_outer">
								{{ comment_form.username }}
							</div>	
						{% endif %}						
						
						<div class="cell textarea_outer">
							{{ comment_form.comment }}

							<div class="hide" id="videoIdComment" data-video-id="{{ video_obj.id }}"></div>
						</div>		
	            </form>			

	            <div id="articlesComments">
					{% for entry in comment_obj %}
						<article class="article comment_item">
							<h5 class="h5">
								<span class="name">
									{% if entry.user_id %}
										{{ entry.user.username }}
									{% else %}
										{{ entry.user_no_auth }}
									{% endif %}
								</span>

								<span class="date">{{ entry.date|date:"Y-m-d H:i:s"}}</span>
							</h5>

							<div class="body">
								{{ entry.comment }}
							</div>
						</article>
					{% endfor %}
				</div>					
			</section>


			<div class="col-xs-3">
				<article class="article">
					dfgdgddfgdfg<br>
					dfgdgddfgdfg<br>
					dfgdgddfgdfg<br>
					dfgdgddfgdfg<br>
					dfgdgddfgdfg<br>
					dfgdgddfgdfg<br>
					dfgdgddfgdfg<br>
					dfgdgddfgdfg<br>
					dfgdgddfgdfg<br>
					dfgdgddfgdfg<br>
					dfgdgddfgdfg<br>
					dfgdgddfgdfg<br>
					dfgdgddfgdfg<br>
					dfgdgddfgdfg<br>
					dfgdgddfgdfg<br>
					dfgdgddfgdfg<br>
					dfgdgddfgdfg<br>
					dfgdgddfgdfg<br>
					dfgdgddfgdfg<br>
					dfgdgddfgdfg<br>
					dfgdgddfgdfg<br>
					dfgdgddfgdfg<br>
					dfgdgddfgdfg<br>
					dfgdgddfgdfg<br>
					dfgdgddfgdfg<br>
					dfgdgddfgdfg<br>
					dfgdgddfgdfg<br>
					dfgdgddfgdfg<br>
				</article >
			</div>			
		</div>			
	</section>
{% endblock content %}
