{% extends "base.html" %}
{% load staticfiles %}
{% load tags_video %}

{% block title %}Видео{% endblock title %}

{% block content %}
	<div class="all_videos">
		<section class="section last_videos_on_main">
			<h3 class="h3">Последние добавленные:</h3>
				{% part_video_unit last_entries_video 'last_entries_video' %}
		</section>

		<!--<section class="section most_comments_on_main">
			<h3 class="h3">Самые комментируемые:</h3>
			
			{#% part_video_unit last_entries_video %#}

		</section>	-->

		<section class="section most_likes_on_main">
			<h3 class="h3">Самые популярные:</h3>
			
			{% part_video_unit most_likes 'most_likes_on_main' %}
		</section>		

		<section class="section most_views_on_main">
			<h3 class="h3">Самые просматриваемые:</h3>
			
			{% part_video_unit most_views 'most_views_on_main' %}
		</section>	
	</div>	
{% endblock content %}
